
// $primary-color:#2f3ced;
$primary-color:#3B90FF;

$primary-blue-color:#2A82E4;
$primary-background-color:#f5f7fd;
$primary-gray-color:#5A7180;
$primary-green-color:#43CF7C;
$primary-red-color:#ff0000;
$primary-orange-color:#FF8D1A;
$primary-selected-text-color:#3A8BFF;
$primary-selected-background-color:#f5f7fd;
$primary-gray-text-color:#A4ADC8;
$primary-white-color:#ffffff;
$primary-title-color:#193c57;
